# Dependencies
node_modules/
frontend/node_modules/

# Production Builds
dist/
frontend/dist/
frontend/dist-ssr/
backend/target/
target/

# Logs & Temp
*.log
logs/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/
*.local

# Environment & IDE
.env
.env.local
